.features-list__icon {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--light-back);
  align-items: center;
  justify-content: center;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__item {
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
}

.features-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}